-var path = '';
-var head_url = '';
-var head_title = '«Где мои деньги?». Получите ответ и практические советы по исправлению своей финансовой ситуации.';
-var head_description = 'Онлайн мастер-класс Юлии Габерштейн';
-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var libsScripts = path+'js/libs.min.js';
-var scripts = path+'js/scripts.js';
-var noref = true;
-var action = '';
-var group = '';
-var formId = '';
-var formVc = '';
-var href = '#Modal';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
//- -var ak = true

mixin gt(cl, h3)
	h3.general-title(class=cl)!=h3
mixin imgs(cl, src, alt)
	img(class=cl src=path+src alt=alt)
mixin b(cl, clb, href, p, target, id)
	.button-wrapper(class=cl)
		a.button(class=clb href!=href target=target id=id)=p

doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/main/1-main
			include pug/main/2-video
			include pug/main/3-if
			include pug/main/4-themes
			include pug/main/5-get
			include pug/main/6-author
			include pug/main/7-revs
		include pug/base/2-footer
		include pug/main/8-modals
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts